<div id="navbar">
  <%= link_to root_path, class: "link" do %>
    <%= image_tag "logo.png", id: "logo" %>
  <% end %>

  <div class="link">
    <%= link_to "Create New Restaurant", new_restaurant_path, class: "text-right" %>
  </div>
</div>

